.title{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #DA70D6, 0 0 20px #fff, 0 0 30px;
  }

  hr{
    color: #350332;
    border-width: 10px;
  }

  p{
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-top: 60px;
  }